<form id="geocoding_form">
  <div id="map"></div>
  <input type="text" id="address">Location</input>
  <input type="submit"></input>
</form>

<%= form_for :spot, url: spots_path  do |f| %>

  <p>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :long %>
  </p>

  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>
